.jumbotron {
  padding-top: 7rem;
  background-color: #b5cbe0;
}

#projects {
  background-color: #b5cbe0;
}

footer {
  background-color: #dff0d6;
  padding-bottom: 5px;
}

section {
  padding-top: 5rem;
}
